<!DOCTYPE html>
<html lang="en">
<head>
    <title>Reveal Text</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <section>
        <div class="content">
            <h2> The Caaaaaaarpooling</h2>
            </br> </br>
            <h3>What is Carpooling ?</h3>
            <p> 
                    Carpooling is the sharing of car journeys so that more than one person travels in a car, and prevents the need for others to have to drive to a location themselves.
                    </br> By having more people using one vehicle, carpooling reduces each person's travel costs such as: fuel costs, tolls, and the stress of driving </br> (source: wikipedia.org)
            </p>
        </div>
    </section>
    <section>
            <div class="content">
                <h2> <u> About the project </u></h2>
                </br> </br>
                <h3>What is this project for ?</h3>
                <p> 
                        This project is dedicated to our teaching faculty. </br> </br>
                        The Aim of this project is provide a medium for the teachers to reach the college in a more eco-friendly way and that is by their participation in a carpooling ecosystem.
                        </br> </br>
                        This website will help our teachers to find the best ride to the college by carpooling with other fellow teachers.
                </p>
            </div>
        </section>

        <section>
                <div class="content">            
                    
                    <h2><u></u>Inside the project </u></h2>
                    </br> </br>
                    <h3>What is the receipe of this project?</h3>
                    <p> 
                            This Project is made using Reactjs for the frontend containing perfect mixture of HTML, CSS, JavaScript with sprinkle of Bootstrap and SCSS.
                            </br> </br>
                            For the backend we have carefully used the Nodejs along with Expressjs and cors which provides us with prefect connectivity.
                            </br> </br>
                            And finally for the database we have used MySQL using workbench which stores all the datas of the teachers, the cars and thier private information.
                            </br> </br>
                            At the end what we get is a beautiful dynamic website for our teachers to enjoy :)
                    </p>
                </div>
            </section>

    <script src="scroll.js"></script>
    <script type="text/javascript">
        ScrollOut({
            targets : 'h2,h3,p,a'
        })
    </script>
</body>
</html>